
/* Revamp the color theme to suit your preferences.
Each color plays a key role in defining the overall aesthetic across various components.
For granular adjustments, delve into individual .scss files for more control. */

// Button colors
$buttonColor: #3498db;
$buttonHover: #2980b9;
$topButtonHover: #2c3e50;

// Text colors for light theme
$titleColor: #333333;
$textColor: #444444;
$subTitle: #777777;
$cardSubtitle: #999999;
$talkCardSubTitle: #888888;
$blogCardTitleColor: #555555;

// Text color for dark theme
$textColorDark: #f0f0f0;

// Toggle switch colors
$toggleCheck: #27ae60;
$toggleSwitchSliderBG: #bdc3c7;

// GitHubRepo-specific colors
$githubRepoCardLanguageColorBG: #3498db;
$githubRepoCardColor: #586069;
$githubRepoCardRepoCardStatsColor: #6a737d;
$githubRepoCardRepoNameColor: #24292e;
$githubProfileCardLocationTS: #ffebcd;
$githubProfileCardBorder: #7367ff;

// Light background colors
$lightBackground1: #f8f9fa;
$lightBackground2: #ffffff;
$lightBackground3: #e9ecef;
$blogCardContainerColor: #f0f0f0;

// Dark background color
$darkBackground: #1e272e;

// Light theme box shadows
$lightBoxShadowDark: rgba(0, 0, 0, 0.2);
$lightBoxShadow: rgba(0, 0, 0, 0.1);
$lightBoxShadowDarker: rgba(0, 0, 0, 0.3);

// Dark theme box shadows
$darkBoxShadow: #d9dbdf;
$darkBoxShadow2: #ffffff;

// Linear gradients
$experienceCardBlurredDivLG: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
$experienceCardBannerLG: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));

// Borders
$progressBarBackground: #f3efef;
$lightBorder1: rgba(211, 211, 211, 0.397);
$educationCardBorder: #c2c0fb;

// Hovers
$achievementCertificateCardHoverDark: rgba(255, 255, 255, 0.2);
$blogCardHoverSmallColor: rgba(255, 255, 255, 0.8);
$headerHoverBG: #e0e0e0;
$contactDetailHoverTS: #999999;

// Miscellaneous backgrounds
$progressBarSpanBG: #bbb6ff;
$iconBackground: #444;
$appHeaderBG: #2c3e50;

// Miscellaneous colors
$skillsColor: #9263eb;
$appLink: #0dc2b0;

// Social media icons
$faceBook: #1877f2;
$linkedin: #0a66c2;
$github: #444;
$gitlab: #f07735;
$google: #ea4335;
$twitter: #1da1f2;
$medium: #000;
$stackoverflow: #f48024;
$instagram: #bc2a8d;
$kaggle: #20beff;